# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Archive files
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2
*.xz
*.tar.gz
*.tar.bz2
*.tar.xz

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.lock
!pubspec.lock

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS/XCode related
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# macOS/XCode related
**/macos/Flutter/ephemeral/
**/macos/**/*.mode1v3
**/macos/**/*.mode2v3
**/macos/**/*.moved-aside
**/macos/**/*.pbxuser
**/macos/**/*.perspectivev3
**/macos/**/*sync/
**/macos/**/.sconsign.dblite
**/macos/**/.tags*
**/macos/**/.vagrant/
**/macos/**/DerivedData/
**/macos/**/Icon?
**/macos/**/Pods/
**/macos/**/.symlinks/
**/macos/**/profile
**/macos/**/xcuserdata
**/macos/**/.generated/
**/macos/Flutter/GeneratedPluginRegistrant.*

# Coverage
coverage/
*.lcov

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# FVM (Flutter Version Management) - if you're using it
.fvm/

# Environment files
.env*
*.env.dart

# Generated files
*.g.dart
*.freezed.dart
*.config.dart
